.works-section
  width: 100%

.works-list
  display: flex
  flex-wrap: wrap

.works-item
  width: 100%
  margin-bottom: 30px
  &:last-child
    margin-bottom: 0
  +xs
    width: 47.5%
    margin-right: 5%
    margin-bottom: 50px
    &:nth-child(2n)
      margin-right: 0
    &:last-child,
    &:nth-last-child(2)
      margin-bottom: 0
  &:hover
    .works-item
      &__img
        transform: scale(0.8)
        &-wrapper
          background-color: #353055
      &__title
        top: -100%
      &__tech
        top: 0  
  &__img
    width: 100%
    height: 100%
    transition: transform 0.3s ease
    &-wrapper
      margin-bottom: 15px
      background-color: transparent
      transition: background-color 0.3s ease 
  &__desc
    position: relative
    height: 26px
    overflow: hidden
    color: #ffffff
    +fz(26)
  &__title
    position: absolute
    top: 0
    font-weight: 300
    transition: top 0.3s ease
  &__tech
    position: absolute
    top: 100%  
    font-weight: 300
    transition: top 0.3s ease