section#about.about-section
  h3.section-title About
  h1.my-name
    b Alex  
    | Pshonik
    span .
  h2.my-position Front-end Developer
  p.my-hobbies Producing high quality responsive websites and exceptional user experience
  .buttons
    button.btn Contact me
    button.btn Know more