section(data-anchor="contacts").contacts-section.section
  h3.section-title Contacts
  ul.contacts-list
    .contacts-list__item
      h4.contacts-list__title E-meil:
      a(href="mailto:alex.pshonik@gmail.com").contacts-list__link alex.pshonik@gmail.com
    .contacts-list__item 
      h4.contacts-list__title Skype:
      a(href="skype:live:80c9de5bc9a5888a").contacts-list__link Alex Pshonik
    .contacts-list__item
      h4.contacts-list__title LinkedIn:
      a(href="https://www.linkedin.com/in/sasha-pshonik/", target="_blank", rel="noopener noreferrer").contacts-list__link Sasha Pshonik
    .contacts-list__item 
      h4.contacts-list__title Telegram:
      a(href="https://t.me/Sasha_Pshonik", target="_blank", rel="noopener noreferrer").contacts-list__link Sasha Pshonik
    .contacts-list__item 
      h4.contacts-list__title Phones:
      a(href="tel:+380 98 795 6955").contacts-list__link +380 98 795 6955