section#skills.skills-section
  h3.section-title Skills
  .skills-subsection
    h4.skills-subsection__title HTML
    ul.skills-list
      li.skills-item
        .skills-item__img-wrapper
          img(src="../img/skills/html.svg", alt="html").skills-item__img
        span(desc="High").skills-item__desc HTML5
      li.skills-item
        .skills-item__img-wrapper
          img(src="../img/skills/pug.svg", alt="pug").skills-item__img
        span(desc="High").skills-item__desc Pug
      li.skills-item
        .skills-item__img-wrapper
          img(src="../img/skills/w3c.svg", alt="w3c").skills-item__img
        span(desc="High").skills-item__desc W3C  
      li.skills-item
        .skills-item__img-wrapper
          img(src="../img/skills/react.svg", alt="react").skills-item__img
        span(desc="Beginner").skills-item__desc JSX   
  .skills-subsection
    h4.skills-subsection__title CSS
    ul.skills-list
      li.skills-item
        .skills-item__img-wrapper
          img(src="../img/skills/css3.svg", alt="css3").skills-item__img
        span(desc="High").skills-item__desc CSS3
      li.skills-item
        .skills-item__img-wrapper
          img(src="../img/skills/sass.svg", alt="sass").skills-item__img
        span(desc="High").skills-item__desc SASS
      li.skills-item
        .skills-item__img-wrapper
          img(src="../img/skills/bem.svg", alt="bem").skills-item__img
        span(desc="High").skills-item__desc BEM
      li.skills-item
        .skills-item__img-wrapper
          img(src="../img/skills/bootstrap.svg", alt="bootstrap").skills-item__img
        span(desc="High").skills-item__desc Bootstrap 3/4   
  .skills-subsection
    h4.skills-subsection__title JS
    ul.skills-list
      li.skills-item
        .skills-item__img-wrapper
          img(src="../img/skills/javascript.svg", alt="javascript").skills-item__img
        span(desc="Middle").skills-item__desc JavaScript
      li.skills-item
        .skills-item__img-wrapper
          img(src="../img/skills/jquery.svg", alt="jquery").skills-item__img
        span(desc="Middle").skills-item__desc jQuery
      li.skills-item
        .skills-item__img-wrapper
          img(src="../img/skills/react.svg", alt="react").skills-item__img
        span(desc="Beginner").skills-item__desc React   
  .skills-subsection
    h4.skills-subsection__title Build Tools
    ul.skills-list
      li.skills-item
        .skills-item__img-wrapper
          img(src="../img/skills/gulp.svg", alt="gulp").skills-item__img
        span(desc="High").skills-item__desc Gulp
      li.skills-item
        .skills-item__img-wrapper
          img(src="../img/skills/webpack.svg", alt="webpack").skills-item__img
        span(desc="Middle").skills-item__desc Webpack  
  .skills-subsection
    h4.skills-subsection__title CMS
    ul.skills-list
      li.skills-item
        .skills-item__img-wrapper
          img(src="../img/skills/wordpress.svg", alt="wordpress").skills-item__img
        span(desc="Middle").skills-item__desc WordPress
      li.skills-item
        .skills-item__img-wrapper
          img(src="../img/skills/magento.svg", alt="magento").skills-item__img
        span(desc="Beginner").skills-item__desc Magento 1/2   
  .skills-subsection
    h4.skills-subsection__title Other
    ul.skills-list
      li.skills-item
        .skills-item__img-wrapper
          img(src="../img/skills/git.svg", alt="git").skills-item__img
        span(desc="Middle").skills-item__desc Git
      li.skills-item
        .skills-item__img-wrapper
          img(src="../img/skills/photoshop.svg", alt="photoshop").skills-item__img
        span(desc="Middle").skills-item__desc Photoshop 