section#works.works-section
  h3.section-title Works
  ul.works-list
    li.works-item
      a(href="https://stage.codearty.com/", target="_blank", rel="noopener noreferrer").works-item__link
        .works-item__img-wrapper
          img(src="img/works/codearty.png", alt="codearty").works-item__img
        .works-item__desc
          h5.works-item__title Codearty
          h6.works-item__tech  HTML, CSS, JS, Three.js
    li.works-item
      a(href="https://neomuscle.codearty.com/", target="_blank", rel="noopener noreferrer").works-item__link
        .works-item__img-wrapper
          img(src="img/works/neomuscle.png", alt="neomuscle").works-item__img
        .works-item__desc
          h5.works-item__title Neomuscle
          h6.works-item__tech  Wordpress, Woocommerce
    li.works-item
      a(href="https://www.gorjana.com/", target="_blank", rel="noopener noreferrer").works-item__link
        .works-item__img-wrapper
          img(src="img/works/gorjana.png", alt="gorjana").works-item__img
        .works-item__desc
          h5.works-item__title Gorjana
          h6.works-item__tech  Magento 1
    li.works-item
      a(href="https://www.toppik.com/", target="_blank", rel="noopener noreferrer").works-item__link
        .works-item__img-wrapper
          img(src="img/works/toppik.png", alt="toppik").works-item__img
        .works-item__desc
          h5.works-item__title Toppik
          h6.works-item__tech  Magento 2            