header.site-nav
  img(src="img/avatar.png", alt="avatar").avatar
  nav.main-menu
    .main-menu__item
      a(href="#").main-menu__link About
    .main-menu__item
      a(href="#").main-menu__link Works
    .main-menu__item
      a(href="#").main-menu__link Skills
    .main-menu__item
      a(href="#").main-menu__link Contacts