extends layouts/main

block title
  | Alex Pshonik

block content
  .main-content#fullpage-scroll
    include sections/about
    include sections/works
    include sections/skills
    include sections/contacts